<h1><%= @amusement_park.name %></h1>
<br/>
<h4>Admissions: $<%= @amusement_park.admission_price %></h4>
<br/>
<ul>
  <% @amusement_park.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>
<br/>
<p>
  Average Thrill Rating of Rides:
  <%= @amusement_park.average_thrill_rating.round(1) %>/10
</p>
